{% extends "layout.html" %}

{% block body %}
    <h3>Hakkımızda</h3>
    <hr>
        <p>
            Merhaba, biz bu ülkenin %5'lik ne yazık ki üstün zekaya sahip bölümünün içinden İ ve B, tüm yazılım dillerine Senior düzeyinde hakimiz. 
            Bu websitesini kurma sebebimiz, devletin gerici ve İsl*mcı politikalarına karşı artık midemizdeki son seviye reflünün daha fazla izin vermemesi ve dolayısıyla bu olanlara karşı çıkmaktır.
            Gelin siz de bizim gibi ilerici insanlar olarak bu çomarlara, onlara ve her şeye rağmen Atatürk'ün olmasını istediği gibi güzel bir Türkiye Cumhuriyeti inşa edelim.
        </p>
    
{% endblock body %}