{% extends "layout.html" %}

{% block body %}

    <div class="jumbotron text-center">
        <h3>Ülkenin %5'lik Aydın Topluluğu</h3>
        <p>Bu web sitesi hafifmeşrep, seküler, dünya görüşü açık, ülkenin kokuşmuş gerici siyasetinden bıkmış, vizyonu avrupa modelinde; hiçbir görüşün çomarlığını kabul etmeyen ve çomarlığın ölümünü deliler gibi isteyen, genellikle dinsiz Türk gençlerinin hepsine açıktır.
        Yazı yazmak ve davamıza ortak olmak için önce kayıt olup sonra giriş yapmanız gerekmektedir.
        Giriş için aşağıdaki Giriş'e veya kayıt olmak için Kayıt Ol'a tıklayın.</p>
        <a href="/register" class="btn btn-primary">Kayıt Ol </a>
        <a href="/login" class="btn btn-primary">Giriş</a>
    </div>


    {% if articles == [] %}
            <div class="alert alert-danger" role="alert">
                Herhangi Bir Yazı Girilmedi...
            </div>
        {% else %}
            {% for article in articles %}
                <td>
                    <b>
                        <h3 style="color:darkolivegreen">{{ article.title }}
                        </h3>
                    </b>
                </td>
                <td>
                    <b>
                        Yazar: {{ article.username }}
                    </b>
                </td>
                <br>
                <td>
                    {{ article.content }}
                    <a href="/delete/{{article.id}}" class="btn btn-danger">Sil {{article.id}}</a>
                </td>
                <br><hr>
            {% endfor %}
        {% endif %}
{% endblock body %}